@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University Crud Operation</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Ragini's University</h2>
        <p>
            Practicing Crud Operation using Entity framework
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        
    </div>
